div{
    background-color: white;
    border: 1px solid black box;



#a{
    background-color: tomato;
    font-size: 40px;
}
#b {
    background-color: rgb(65, 105, 225);
    font-size: 40px;
}
#c {
    background-color: rgb(101, 82, 135);opacity: 0.7;
    font-size: 40px;
}
#d{
    background-color: hsl(120, 60%, 70%);
    font-size: 40px;
}
#e{
    background-color: hsla(330, 35%, 62%, 0.7);
    font-size: 40px;
}
#f{
    background-color: hsla(113, 58%, 41%, 0.832);opacity: 0.7;
    font-size: 40px;
}




